<br />
<div class="container col-6">
  <div class="row">
    <h3 class="col-10"><%= current_map.name %></h3>
    <% if current_map.user == current_user %>
      <%= link_to 'Edit map', edit_map_path(current_map), class:'btn btn-secondary' %>
    <% end %>
  </div>
  Created by: <%= current_map.user.username%>
  <br />
  <p style="text-align:center">
    <%= link_to image_tag(current_map.picture.preview.url), current_map.picture.url, id: "picture" %>
  </p>
  <h3>Description</h3>
  <p><%= current_map.description %></p>
</div>